img{width: 100%;}



.c1 img{
    height: 100px;
    width:  100px;
    border-radius: 70%;
    
}
.c1{text-align: center;}
.m1{background-image:url(../images/VEG/VEGBF/category-1.jpg.webp);background-position: center;background-repeat: no-repeat; background-size: cover;}

.m4{background-image: url(../images/VEG/VEGBF/category-2.jpg.webp);background-position: center;background-repeat: no-repeat;background-size: cover; }
.m3{background-image: url(../images/VEG/VEGBF/category-3.jpg.webp);background-position:center; background-repeat: no-repeat; background-size: cover;}
.m6{background-image: url(../images/VEG/VEGBF/category-4.jpg.webp);background-position: center; background-repeat: no-repeat; background-size: cover;}
 .m1,.m3,.m4,.m6{
    height: 250px;
 }

.m5{background-image: url(../images/VEG/VEGBF/category.jpg.webp);background-position: center;background-repeat: no-repeat;padding-top: 50px  ;  text-align: center; background-size: cover;
     
}

.s1{color: aquamarine;  }
.p1{text-align: center;}
.r1 img{
    height: 200px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    
}
.f1{background-image:url(../images/VEG/vegetables/bg_3.jpg.webp);background-position: center;background-repeat: no-repeat;  background-size: cover; padding: 50px 100px;} 
.t2{padding: 100px 50px ;}
.c1 img{transition: 0.1s;}
.c1:hover img{
  transform: scale(1.1);

}
 
.r2{ border: solid; overflow: hidden; margin-bottom: 30px;}
.r2 img{    transition: 0.1s;}
.r2:hover img{


    transform: scale(1.1);
}
.sld3{
    transition: 0.3s ease-in-out;
}
.h50{ max-height: 600px;;}
.h50 img{
    object-position: bottom 200px right 0px;

}
 
.h50 h1{font-size: 100px;font-style: font-family:'Indie Flower', cursive;
  font-family: 'Shadows Into Light', cursive;}
  @media (min-width:300px)and (max-width:1880px)
/* testimonial  */

.testimonial{
    width: 100%;
     
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #3d5a80;
  
    &-slide{
        padding:40px 20px;
    }
    &_box{   
  
        &-top{
            background-color: #e0fbfc;
            padding: 30px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
        }
        &-icon{
            padding: 10px 0;
            i{
                font-size: 25px;
                color: #14213d;
            }
        }
        &-text{
            padding: 10px 0;
            p{
                color: #293241;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }
        }
        &-img{
            padding: 20px 0 10px;
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50px;
                border: 2px solid #e5e5e5;
            }
        }
        &-name{
            padding-top: 10px;
            h4{
                font-size: 20px;
                line-height: 25px;
                color: #293241;
                margin-bottom: 0;
            }
        }
        &-job{
            p{
                color: #293241;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 20px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
    }
  }


  #countdown li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 4rem;
  }

  @media all and (max-width: 768px) {
     
    
    #countdown li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    #countdown li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

.r2{ overflow: hidden;}
  .carousel-caption { top:200px;}
  .txtdec{ text-decoration: line-through;}


  .onover{ opacity: 0; position: absolute;  }


  .r2:hover .onover, .r2:active .onover, .r2:focus .onover{ opacity: 1; bottom: 50px; left:130px;}

  .r2:hover .current{ opacity: 0;}


  @media (min-width: 300px) and (max-width: 767.98px){
    .r2:hover .onover, .r2:active .onover, .r2:focus .onover{ opacity: 1; bottom: 50px; left:230px;}

    .carousel-caption { top:10px;}

  .h50 h1 {
    font-size: 30px;}  

  }

  @media (min-width: 768px) and (max-width: 991.98px){
    .r2:hover .onover, .r2:active .onover, .r2:focus .onover{ opacity: 1; bottom: 50px; left:152px;}
    .h50 h1 {
      font-size: 50px;}  

      .carousel-caption { top:50px;}

  }


  @media (min-width: 992px) and (max-width: 1199.98px){


    .r2:hover .onover, .r2:active .onover, .r2:focus .onover{ opacity: 1; bottom: 50px; left:100px;}

    .h50 h1 {
      font-size: 70px;}  

      .carousel-caption { top:150px;}


  }




  .abpos{ position: absolute; z-index: 1000; background-color: green; padding: 5px 10px;}
  .c21{background-color: rgba(255, 245, 245, 0.884);opacity: inherit;padding-top: 50px; padding-bottom: 50px;}
  .f23{padding-top: 100px; padding-bottom: 100px; 

}
.c25{padding-bottom: 100px;}
.c26{padding-bottom: 50px;}
.h23{padding-top: 50px; padding-bottom: 100px;}
.l24{padding: 100px 100px;}
.g22{color: greenyellow; font-style: italic;}




ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #e7e3e3;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #c5d1d17c;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.g16{padding-top: 20px;
  padding-bottom: 20px;}