img{width: 100%;}
.c1 img{
    height: 100px;
    width:  100px;
    border-radius: 70%;
    
}
.c1{text-align: center;}
.m1{background-image:url(../images/VEG/VEGBF/category-1.jpg.webp);background-position: center;background-repeat: no-repeat; background-size: cover;}

.m4{background-image: url(../images/VEG/VEGBF/category-2.jpg.webp);background-position: center;background-repeat: no-repeat;background-size: cover; }
.m3{background-image: url(../images/VEG/VEGBF/category-3.jpg.webp);background-position:center; background-repeat: no-repeat; background-size: cover;}
.m6{background-image: url(../images/VEG/VEGBF/category-4.jpg.webp);background-position: center; background-repeat: no-repeat; background-size: cover;}
 .m1,.m3,.m4,.m6{
    height: 250px;
 }

.m5{background-image: url(../images/VEG/VEGBF/category.jpg.webp);background-position: center;background-repeat: no-repeat;padding-top: 50px  ;  text-align: center; background-size: cover;
    height: 500px;
}

.s1{color: aquamarine;}
.p1{text-align: center;}
.r1 img{
    height: 200px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    
}
.f1{background-image:url(../images/VEG/vegetables/bg_3.jpg.webp);background-position: center;background-repeat: no-repeat;padding: 90px 10px 300px 10px;text-align:center;}

#typesbar{
    
}