img{width: 100%;}
.c1 img{
    height: 100px;
    width:  100px;
    border-radius: 70%;
    
}
.c1{text-align: center;}
.m1{background-image:url(../images/VEG/friuts/tumble-of-strawberries.webp);background-position: center;background-repeat: no-repeat; }
.m3{background-image: url(../images/VEG/friuts/green-beet-orange-juice-55497feec4024f94a846793c2f310e69.webp);background-position: center; background-repeat: no-repeat;}
.m4{background-image: url(../images/VEG/vegetables/tomatoes-healthiest-vegetables-1645751323.webp);background-position: center;background-repeat: no-repeat; }
.m6{background-image: url(../images/VEG/friuts/flying-dried-fruits-and-nuts.webp);background-position: center; background-repeat: no-repeat; }
 .m1,.m3,.m4,.m6{
    height: 250px;
 }

.m5{background-image: url(../images/VEG/vegetables/360_F_545474888_xq2iUjyEXPRruiIYQ62U0LCtKBiZMFk9.webp);background-position: center;background-repeat: no-repeat;padding-top: 50px  ;  text-align: center; background-size: cover;
    height: 500px;
}

.s1{color: aquamarine;}
.p1{text-align: center;}
.r1 img{
    height: 200px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    
}
.f1{background-image:url(../images/VEG/vegetables/bg_3.jpg.webp);background-position-x: left;background-repeat: no-repeat;padding: 90px 1px 1px 90px;}

#typesbar{
    
}